<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <label>Name
            <input type="text"  name="name" th:value="${event.name}"  class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text"  name="description" th:value="${event.description}"   class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text"  name="contactEmail" th:value="${event.contactEmail}"   class="form-control">
        </label>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Location-->
<!--            <input type="text"  name="location" th:value="${event.location}"   class="form-control">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Are you registered?-->
<!--            <input type="checkbox"  name="registration" th:value="${event.registration}"   class="form-control">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Number of Attendees-->
<!--            <input type="text"  name="numOfAttendees" th:value="${event.numOfAttendees}"   class="form-control">-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>COVID Positive-->
<!--            <input type="checkbox"  name="covidPositive" th:value="${event.covidPositive}"   class="form-control">-->
<!--        </label>-->
<!--    </div>-->
    <div class="form-group">
        <label>Event Type
            <input type="text"   name="type" th:value="${event.type}"   class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Edit
            <input type="hidden"  name="eventId" th:value="${eventId}"  class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Edit Event" class="btn btn-success">
    </div>

</form>

</body>
</html>